USE [master]
GO
/****** Object:  Database [CollegeDB68]    Script Date: 10/18/2025 12:53:08 PM ******/
CREATE DATABASE [CollegeDB68]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CollegeDB68_Data_1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CollegeDB68_Data_1.mdf' , SIZE = 25600KB , MAXSIZE = 102400KB , FILEGROWTH = 5%)
 LOG ON 
( NAME = N'CollegeDB68_Log_1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CollegeDB68_Log_1.ldf' , SIZE = 2048KB , MAXSIZE = 51200KB , FILEGROWTH = 1024KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CollegeDB68].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CollegeDB68]
GO
/****** Object:  Table [dbo].[Result]    Script Date: 10/18/2025 12:53:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Result](
	[ResultID] [int] NOT NULL,
	[StudentID] [int] NOT NULL,
	[TotalMark] [int] NOT NULL,
	[Grad] [char](2) NOT NULL,
 CONSTRAINT [PK_Result] PRIMARY KEY CLUSTERED 
(
	[ResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Semester]    Script Date: 10/18/2025 12:53:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semester](
	[SemesterID] [int] NOT NULL,
	[SemesterName] [varchar](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SemesterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 10/18/2025 12:53:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentID] [int] NOT NULL,
	[StudentName] [char](2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 10/18/2025 12:53:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[SubjectID] [int] NOT NULL,
	[SubjectName] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 10/18/2025 12:53:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[TeacherID] [int] NOT NULL,
	[TeacherName] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TeacherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherStdSubSemRelation]    Script Date: 10/18/2025 12:53:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherStdSubSemRelation](
	[TeacherID] [int] NOT NULL,
	[StudentID] [int] NOT NULL,
	[SemesterID] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TeacherID] ASC,
	[StudentID] ASC,
	[SemesterID] ASC,
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Result] ([ResultID], [StudentID], [TotalMark], [Grad]) VALUES (1, 301, 58414, N'b ')
GO
INSERT [dbo].[Semester] ([SemesterID], [SemesterName]) VALUES (101, N'Spring')
INSERT [dbo].[Semester] ([SemesterID], [SemesterName]) VALUES (102, N'Winter')
INSERT [dbo].[Semester] ([SemesterID], [SemesterName]) VALUES (103, N'Summer')
GO
INSERT [dbo].[Student] ([StudentID], [StudentName]) VALUES (301, N'AA')
INSERT [dbo].[Student] ([StudentID], [StudentName]) VALUES (302, N'BB')
INSERT [dbo].[Student] ([StudentID], [StudentName]) VALUES (303, N'CC')
GO
INSERT [dbo].[Subjects] ([SubjectID], [SubjectName]) VALUES (201, N'C#')
INSERT [dbo].[Subjects] ([SubjectID], [SubjectName]) VALUES (202, N'Data Base')
INSERT [dbo].[Subjects] ([SubjectID], [SubjectName]) VALUES (203, N'Web Design')
GO
INSERT [dbo].[Teacher] ([TeacherID], [TeacherName]) VALUES (1, N'A')
INSERT [dbo].[Teacher] ([TeacherID], [TeacherName]) VALUES (2, N'B')
INSERT [dbo].[Teacher] ([TeacherID], [TeacherName]) VALUES (3, N'C')
GO
INSERT [dbo].[TeacherStdSubSemRelation] ([TeacherID], [StudentID], [SemesterID], [SubjectID]) VALUES (1, 301, 101, 201)
INSERT [dbo].[TeacherStdSubSemRelation] ([TeacherID], [StudentID], [SemesterID], [SubjectID]) VALUES (1, 302, 101, 201)
INSERT [dbo].[TeacherStdSubSemRelation] ([TeacherID], [StudentID], [SemesterID], [SubjectID]) VALUES (1, 303, 102, 208)
GO
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [FK_Result_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [FK_Result_Student]
GO
ALTER TABLE [dbo].[TeacherStdSubSemRelation]  WITH CHECK ADD FOREIGN KEY([SemesterID])
REFERENCES [dbo].[Semester] ([SemesterID])
GO
ALTER TABLE [dbo].[TeacherStdSubSemRelation]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[TeacherStdSubSemRelation]  WITH CHECK ADD FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subjects] ([SubjectID])
GO
ALTER TABLE [dbo].[TeacherStdSubSemRelation]  WITH CHECK ADD FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Teacher] ([TeacherID])
GO
USE [master]
GO
