USE [InventoryDB68]
GO
/****** Object:  Table [dbo].[Color]    Script Date: 10/12/2025 9:37:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Color](
	[ColorID] [int] NOT NULL,
	[ColorName] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ColorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 10/12/2025 9:37:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[ItemID] [int] NOT NULL,
	[ItemNo] [varchar](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemColor]    Script Date: 10/12/2025 9:37:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemColor](
	[ItemID] [int] NOT NULL,
	[ColorID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC,
	[ColorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemType]    Script Date: 10/12/2025 9:37:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemType](
	[ItemTypeID] [int] NOT NULL,
	[TypeName] [varchar](15) NOT NULL,
 CONSTRAINT [PK__ItemType__F51540DBAFC8AD09] PRIMARY KEY CLUSTERED 
(
	[ItemTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lot]    Script Date: 10/12/2025 9:37:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lot](
	[LotNo] [varchar](6) NOT NULL,
	[ItemID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitID] [int] NOT NULL,
	[UnitPrice] [money] NOT NULL,
	[VAT] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LotNo] ASC,
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 10/12/2025 9:37:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[UnitID] [int] NOT NULL,
	[UnitName] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[UnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Color] ([ColorID], [ColorName]) VALUES (201, N'Red')
INSERT [dbo].[Color] ([ColorID], [ColorName]) VALUES (202, N'Blue')
GO
INSERT [dbo].[Item] ([ItemID], [ItemNo]) VALUES (1, N'Item 1')
INSERT [dbo].[Item] ([ItemID], [ItemNo]) VALUES (2, N'Item 2')
INSERT [dbo].[Item] ([ItemID], [ItemNo]) VALUES (3, N'Item 3')
GO
INSERT [dbo].[ItemColor] ([ItemID], [ColorID]) VALUES (1, 201)
INSERT [dbo].[ItemColor] ([ItemID], [ColorID]) VALUES (2, 202)
INSERT [dbo].[ItemColor] ([ItemID], [ColorID]) VALUES (3, 201)
GO
INSERT [dbo].[ItemType] ([ItemTypeID], [TypeName]) VALUES (101, N'Camp Shirt')
INSERT [dbo].[ItemType] ([ItemTypeID], [TypeName]) VALUES (102, N'Dress Shirt')
INSERT [dbo].[ItemType] ([ItemTypeID], [TypeName]) VALUES (103, N'T-Shirt')
GO
INSERT [dbo].[Lot] ([LotNo], [ItemID], [Quantity], [UnitID], [UnitPrice], [VAT]) VALUES (N'Lot 1', 1, 6, 301, 1100.0000, 0.15)
INSERT [dbo].[Lot] ([LotNo], [ItemID], [Quantity], [UnitID], [UnitPrice], [VAT]) VALUES (N'Lot 1', 2, 6, 301, 1200.0000, 0.15)
INSERT [dbo].[Lot] ([LotNo], [ItemID], [Quantity], [UnitID], [UnitPrice], [VAT]) VALUES (N'Lot 1', 3, 6, 301, 1300.0000, 0.15)
GO
INSERT [dbo].[Unit] ([UnitID], [UnitName]) VALUES (301, N'pcs')
GO
ALTER TABLE [dbo].[ItemColor]  WITH CHECK ADD FOREIGN KEY([ColorID])
REFERENCES [dbo].[Color] ([ColorID])
GO
ALTER TABLE [dbo].[ItemColor]  WITH CHECK ADD FOREIGN KEY([ItemID])
REFERENCES [dbo].[Item] ([ItemID])
GO
ALTER TABLE [dbo].[Lot]  WITH CHECK ADD FOREIGN KEY([ItemID])
REFERENCES [dbo].[Item] ([ItemID])
GO
ALTER TABLE [dbo].[Lot]  WITH CHECK ADD FOREIGN KEY([UnitID])
REFERENCES [dbo].[Unit] ([UnitID])
GO
